---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, I'm Ananthakrishnan, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  [company](//github.com/k-ananthakrishnan), previously at
  [company 2](//github.com/k-ananthakrishnan).

  Prior to that I was working in Southampton as a Designer and Consultant at
  [Placehoolder](//github.com/k-ananthakrishnan), where I worked with a number of clients, including:
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  [Placehoolder](//github.com/k-ananthakrishnan),
  and [Placehoolder](//github.com/k-ananthakrishnan).

  <!-- In 2010 I founded a [font foundry](https://www.myfonts.com/foundry/Matt_Grey/),
  which has released a number of free and commercial [fonts](/fonts). -->

profile_picture: /images/profile-pictures/profileimg.jpg

experience:
  - company: Company 1 
    position: Cloud Engineer (Senior)
    period: August 2022 - Present

  - company: IBS Software
    position: Software Engineer, iCargo Division
    period: October 2019 - November 2021

education:
  - course: AWS reStart 
    place: Jobs Academy
    period: 2022

  - course: Associate Cloud Software Engineering
    place: Generation India Pvt. Ltd.
    period: 2022

  - course: BTech in Computer science & Engineering
    place: Kerala Technological University
    period: 2015 - 2019


certifications:
  - event: Azure Fundamentals ( AZ-900 )
    period: 2022
    result: Shortlisted - Team Knolo
    <!-- link: https://www.culturemile.london/fusion-prize-shortlist/knolo -->
    # https://www.youtube.com/watch?v=ufmXwUdZJeY&feature=emb_title&ab_channel=CultureMile

  - event: Security , compliance and Identity Fundamentals ( SC-900 )
    period: 2022
    result: Winners - Team FreeCycle
    <!-- link: https://medium.com/@bemyapp/resi-hackathon-2018-cbf185c29838 -->

  - event: Googlew Playstor Listing Certificate
    period: 2022
    result: Winners - Team FreeCycle
    <!-- link: https://medium.com/@bemyapp/resi-hackathon-2018-cbf185c29838 -->

skills:
  - Java with Spring Boot
  - Microservice Architectur
  - PostgreSQL
  - Amazon Web Services (AWS) 
  - Linux
  - Git
  - Agile Software Developement
  - Python
  - Azure 
  - Docker 
  - Kuberneties
  - Angular
  - Wireframing
  - UI Design
  - Googling


tools:
  - Intellij IDEA
  - PyCharm
  - Visual studio Code
  - HTML
  - CSS and SASS (SCSS)
  - Postman
  - Jenkins
  - TypeScript and JavaScript
  - Dbeaver Community Edition
  - Jira
  - Bitbucket and Github
  - PG Admin
  - Kafka and zookeeper 

about_site: |

  - All the code for this site is open sourced and is available on
  [Github](https://github.com/k-ananthakrishnan/k-ananthakrishnan.github.io), deployed using Github pages

  - The typefaces used are
  [DM Sans](https://fonts.google.com/specimen/DM+Sans) and
  [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display),
  designed by [Colophon Foundry](https://www.colophon-foundry.org/).

  - Other tools and libraries used include, [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Headspace](https://github.com/gdub22/headspace) and
  [Normalize.css](http://github.com/necolas/normalize.css).

  - Original code for thes site is taken from Matthew Grey check him out on 
  [Github](https://github.com/mattgreydesign/mattgreydesign.github.io).

  - Although the code is opensource under the GNU General Public License v3, all
  content is Copyrighted. [Read more](https://github.com/k-ananthakrishnan/k-ananthakrishnan.github.io/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Ananthakrishnan K",
    "jobTitle": "Software Engineer",
    "nationality": "Indian",
    "url": "http://k-ananthakrishnan.github.io/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Kerala",
      "addressCountry": "India"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Certifications</h3>
          <dl class="relational-list">
            {% for competition-item in page.certifications %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd><br>
              <!-- <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd> -->
            {% endfor %}
          </dl>
        </div>

      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <!-- <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
              <dd class="relational-list__description">{{ education-item.period | markdownify}}</dd>
            {% endfor %}
          </dl> -->
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify }}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ education-item.period | markdownify }}</dd>
              <dd class="relational-list__description">{{ education-item.place | markdownify  }}</dd>
            {% endfor %}
          </dl>
        </div>

        <!-- <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Certifications</h3>
          <dl class="relational-list">
            {% for competition-item in page.certifications %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div> -->
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Colophon: about this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
